#crt-startup {
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 9999;
	animation: crtStartupAnim 1.2s ease-in-out forwards;
}

@keyframes crtStartupAnim {
	0% { opacity: 1; transform: scale(1); }
	10% { opacity: 1; transform: scaleX(1.3) scaleY(0.5);  background: #0d0d0d;}
	25% { opacity: 1; transform: scale(0.02);  background: #0d0d0d; }
	45% { opacity: 0.9; transform: scaleX(0.2) scaleY(0.01); background: #00d78a; }
	65% { opacity: 0.4; transform: scaleX(1) scaleY(0.02); background: #00ffc3; }
	85% { opacity: 0.2; transform: scale(1); background: #00ff95; }
	100% { opacity: 0; pointer-events: none; }
}
